.hamburger-menu {
  width: 20%;
  height: 100vh;
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(245, 245, 245);
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.active {
    transform: translateX(0);
  }

  &__overflowContainer {
    height: inherit;
    overflow-y: scroll;
  }

  &__bottomPadding {
    height: 5rem;
  }

  &__header {
    background-color: rgb(15, 17, 48);
    padding: 0.75rem 2rem;
  }

  &__title {
    color: #fff;
    font-weight: 700;
  }

  .fa-user-circle {
    color: #fff;
    margin-right: 0.5rem;
  }
}
